<footer class="footer">
	<div class="footer-content">
		<% theme.widgets.forEach(function(widget){ %>
	      <%- partial('_widgets/' + widget) %>
	    <% }) %>

		<div class="footer-credit">
			<span>© <%- new Date().getFullYear() %> <%- config.author %> | Powered by <a href="https://hexo.io/">Hexo</a> | Theme <a href="https://github.com/HoverBaum/meilidu-hexo">MeiliDu</a></span>
		</div>

	</div>

	<% if (theme.mermaid.enable) { %>
		<!-- <script src='/scripts/mermaid.min.js'></script> -->
		<script src='https://cdn.jsdelivr.net/npm/mermaid@11.4.1/dist/mermaid.min.js'></script>
		<script>
		  if (window.mermaid) {
			mermaid.initialize({theme: 'forest', startOnLoad:true});
		  }
		</script>
	  <% } %>
</footer>
