<div class="footer__element">
	<h5></h5>
	<ul class="footer-links">
		<li class="footer-links__link"><a href="/">首页</a></li>
		<li class="footer-links__link"><a href="/archives">文章</a></li>
		<li class="footer-links__link"><a href="/about">关于</a></li>
		<li class="footer-links__link"><a href="/tags">标签</a></li>
		<li class="footer-links__link"><a href="/categories">分类</a></li>
		<li class="footer-links__link"><a href="https://github.com/xi4nyu/xi4nyu.github.io">Github</a></li>
	</ul>
</div>
